.purchase-details {
  th {
    width: 40%;
    font-weight: 500;
  }

  .table-active {
    background-color: #f8f9fa;
  }

  .status-badge {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;

    &.status-active {
      background-color: #d1e7dd;
      color: #0f5132;
    }

    &.status-inactive {
      background-color: #fff3cd;
      color: #664d03;
    }

    &.status-partial {
      background-color: #cfe2ff;
      color: #084298;
    }

    &.status-unknown {
      background-color: #e2e3e5;
      color: #41464b;
    }
  }
}