/* Hide the Action column */
.hide-action-column th:last-child,
.hide-action-column td:last-child {
  display: none;
}

/* Adjust styling for the "No products" message */

/* Adjust footer styling */
