<div class="hrm-menu">
  <span class="title">
    <i class="fa fa-users"></i>
    <span>HRM</span>
  </span>
  <a routerLink="leave-type" routerLinkActive="active-link">Leave Type</a>
  <a routerLink="leave" routerLinkActive="active-link">Leave</a>
  <a routerLink="attendance" routerLinkActive="active-link">Attendance</a>
  <a routerLink="payroll" routerLinkActive="active-link">Payroll</a>
  <a routerLink="holiday" routerLinkActive="active-link">Holiday</a>
  <a routerLink="departments" routerLinkActive="active-link">Departments</a>
  <a routerLink="designations" routerLinkActive="active-link">Designations</a>
  <a routerLink="sales-targets" routerLinkActive="active-link">Sales Targets</a>
  <a routerLink="user1" routerLinkActive="active-link">user</a>

</div>

<router-outlet></router-outlet>